doctype html

include mixins/section-list
include mixins/section
include mixins/signature
include mixins/note
include mixins/menu
include mixins/property-name
include mixins/property-table
include mixins/property-row

html
  head
    meta(charset="utf-8")
    title
      =config["project-name"]

    if config["project-description"]
      meta(name="description" content=config["project-description"])
    
    - const timestamp = Date.now().toString(32)

    link(rel="stylesheet" href=`assets/css/bass.css?${timestamp}`)
    link(rel="stylesheet" href=`assets/css/style.css?${timestamp}`)
    link(rel="stylesheet" href=`assets/css/code.css?${timestamp}`)
    
    link(rel="icon" href="assets/favicon.png")
  
    meta(
      name="viewport"
      content="width=device-width, initial-scale=1"
    )

  body.documentation.m0
    include partials/header
    include partials/nav
        
    main.max-width-4.mx-auto.px2
      article
        include partials/intro

        each section in docs
          if section.kind === "note" && !section.children
            +note({ note: section })
          else
            +section(section)

    include partials/footer

  script(src="assets/js/anchor.js")
  script(src="assets/js/site.js")